<h1>Quest천es</h1>

<% if @questions.empty? %>
  <h3>Ainda n찾o temos quest천es cadastradas</h3>
  <%= link_to "cadastrar quest찾o", new_question_path, class: 'btn btn-large btn-primary' %>

<% else %> 
  <% render "list_questions" %> 
<% end %>
