<div class="row">
	<div class="col-md-9 content" role="main">
		<h2>Questões</h2>
		<table class="table table-style">
			<thead>
				<tr>
					<th>Título</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<% @questions.each do |q| %>
						<td><%= q.text %></td>
					<% end %>
				</tr>
			</tbody>
		</table>
		<%= link_to "Criar questão", rails_admin_path %>
	</div>
</div>