<p>
  <strong>Nome:</strong>
  <%= @core.name %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @core.course.name %>
</p>

<%= link_to 'Editar', edit_core_path(@core), class: "btn" %> |
<%= link_to 'Voltar', cores_path, class: "btn" %>
