<div class="row">
  <div class="col-md-9 content" role="main">
    <div class="shortcut-box row">
      <header class="header-content">
        <h1 class="title-2">Comece a criar suas provas e adicionar questões</h1>
      </header>
      <div class="shortcuts">
        <div class="col-md-4 col-xs-4">
          <a href="#"><h2 class="shortcut-title ico-user">Cadastre suas disciplinas</h2></a>
        </div>
        <div class="col-md-4 col-xs-4">
          <a href="<%= questions_path %>">
            <h2 class="shortcut-title ico-book">Crie ou escolha questões</h2>
          </a>
        </div>
        <div class="col-md-4 col-xs-4">
          <a href="#"><h2 class="shortcut-title ico-insert-template">Gere provas</h2></a>
        </div>
      </div>
    </div>
  </div>
  <%= render "layouts/sidebar" %>
</div>