<p>
  <strong>Nome:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Universidade:</strong>
  <%= @course.college.name %>
</p>



<%= link_to 'Editar', edit_course_path(@course), class: "btn" %> |
<%= link_to 'Voltar', courses_path, class: "btn" %>
