<footer class="footer">
    <div class="footer-menu">
      <nav class="container">
        <h2 class="title-footer">suporte e ajuda</h2>
        <ul class="no-liststyle">
          <li><a href="#" class="bg-customer-support"><span class="visible-lg">Contato</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="container footer-info">
      <span class="last-access ico-screen"><strong>Último acesso: </strong><%= current_user.last_sign_in_at.to_date %></span>
      <div class="set-ip"><span class="set-ip"><strong>IP:</strong><%= current_user.current_sign_in_ip %></span></span></div>
      <p class="copy-right">Copyright © 2013 Renan Gurgel</p>
    </div>
  </footer>