<footer class="footer">
    <div class="footer-menu">
      <nav class="container">
        <h2 class="title-footer">suporte e ajuda</h2>
        <ul class="no-liststyle">
          <li><a href="mailto:gurgel.renan@gmail.com?Subject=MinhaProva[Contato]" target="_top" class="bg-customer-support"><span class="visible-lg">Contato</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="container footer-info">
      <p class="copy-right">Copyright © 2013 Renan Gurgel</p>
    </div>
  </footer>