<aside class="sidebar col-md-3" role="complementary">
  <section class="sidebox">
    <h1 class="sidebox-title ico-bars">Dados do sistema</h1>
    <div class="sidebox-inner">
      <span class="status-text">
        Questões cadastradas
        <strong><%= User.count %></strong>
      </span>
      <hr>
      <span class="status-text">
        Quantidade de cursos
        <strong><%= Course.count %></strong>
      </span>
    </div>
    <div class="well well-sm well-status-sidebar txt-center no-margin-bottom">
      <p>Total de questões no sistema</p>
      <b>A FAZER</b>
    </div>
  </section>

  <section class="sidebox">
    <h1 class="sidebox-title ico-flag">Dicas</h1>
    <div id="carousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active sidebox-inner">
          <h2 class="title-6">Crie questões (3C)</h2>
          <p>Acesse a área restrita e crie questões para aumentar a colaboração do sistema</p>
        </div>
        <!-- <div class="item sidebox-inner">
          <h2 class="title-6">Cuidado com os bounces 2</h2>
          <p>Bounces são tipos diversos de problemas que impedem que um contato receba a mensagem enviada.</p>
          <p>Por exemplo: e-mail inválido, caixa postal cheia, lentidão no servidor do destinatário, etc.</p>
        </div> -->
      </div>
      <div class="carousel-nav">
        <a href="#carousel" class="left carousel-control ico-direction-left" data-slide="prev"></a>
        <b>1</b> de <i>1</i>
        <a href="#carousel" class="right carousel-control ico-direction-right" data-slide="next"></a>
      </div>
    </div>
  </section>
</aside>